<div class="space-y-16 container xl:max-w-5xl mx-auto px-4 py-16 extended:px-8 extended:py-32">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      My posts
    </h2>
    <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary extended:w-2/3 mx-auto">
        See my latest posts thats I'm write.
    </h3>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-start gap-2 md:gap-8 w-full">
    {% for post in collections.blog | reverse %}
      <a href="{{ post.url }}" class="rounded-3xl p-2 flex flex-col sm:flex-row gap-4 hover:bg-transparent hover:brightness-100">
        {% if post.data.socialImage %}
          <div class="rounded-3xl overflow-clip mb-2 [&_*]:w-full sm:w-1/2">
            {% image post.data.socialImage, post.data.socialImageAlt or "Cover post" %}
          </div>
        {% endif %}

        <div class="sm:w-1/2">
          <span class="flex flex-row gap-2 font-bold text-secondary font-mono">
            {% for type in post.data.type %}
              <span>{{ type }}</span>
            {% endfor %}
          </span>
          <h2 class="font-bold text-headlineLarge text-primary transition-colors">
            {{ post.data.title }}
          </h2>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="flex justify-center w-full">
  {% include "tag-box.njk" %}
</div>
