<div class="flex flex-col justify-center items-center gap-2 w-1/3">
  <h2 class="font-mono">Tags</h2>
  <span class="flex flex-row flex-wrap justify-center items-end gap-1 ring-1 ring-tertiary p-2">
    {% set keywordList = collections.blog | countKeywords %}
    {% for keyword in keywordList %}
    <a class="bg-tertiary text-onTertiary p-1 font-mono" style="font-size: {{ 12 + keyword.count }}px" title="{{ keyword.count }} post(s)">{{ keyword.keyword }}</a>
    {% endfor %}
  </span>
</div>
