---
title: Reading List
pagination:
  data: collections.reading
  size: 20
  alias: readingList
permalink: /en/reading/{{ pagination.pageNumber }}/index.html
---

<main class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="text-center">
    <h1 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      Reading List
    </h1>
    <h2 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
      Articles, websites and anything that I think is good to read!
    </h2>
  </div>
  <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 w-full">
    {% for item in readingList | reverse %}
      <div class="flex flex-col gap-4 justify-between grow p-4 rounded border w-full md:w-2/5 cursor-pointer">
        <a class="text-2xl font-bold text-primary italic hover:brightness-125" href="{{ item.data.url }}">
          <span class="underline underline-offset-1">{{ item.data.title }}</span><span class="font-lg text-secondary opacity-40">, {{ item.data.type }}</span>
        </a>
        <p>{{ item.data.description }}</p>

        <div class="flex flex-row justify-between">
          <a class="font-mono font-bold inline-flex p-1 rounded leading-4 text-tertiary" style="font-size: 0.8em" href="https://{{ item.data.url | getHostname }}">{{ item.data.url | getHostname }}</a>
          <div class="inline-flex flex-row flex-wrap gap-1 text-center">
            {% for tag in item.data.keywords %}
              <span class="font-mono inline-flex p-1 rounded leading-4 text-onTertiary bg-tertiary" style="font-size: 0.8em">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="flex flex-row justify-end gap-10">
    {% if pagination.previousPageHref %}
      <a class="block text-center text-lg font-semibold bg-primary text-onPrimary rounded p-2 bg-opacity-80 hover:brightness-150" href="{{ pagination.previousPageHref }}">Previous Page</a>
    {% endif %}
    {% if pagination.nextPageHref %}
      <a class="block text-center text-lg font-bold bg-primary text-onPrimary rounded p-2 hover:brightness-150" href="{{ pagination.nextPageHref }}">Next Page</a>
    {% endif %}
  </div>
</main>
