---
title: Reading List
pagination:
  data: collections.reading
  size: 20
  alias: readingList
permalink: /en/reading/{{ pagination.pageNumber }}/index.html
eleventyNavigation:
  key: Reading
  order: 2
---

<main class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="text-center">
    <h1 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      Reading List
    </h1>
    <p class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
      Articles, websites and anything that I think is good to read!
    </p>
  </div>

  <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 w-full">
    {% for item in readingList | reverse %}
      <a class="flex flex-col gap-4 justify-between grow p-4 rounded w-full md:w-2/5 shadow-sm bg-surface brightness-125 hover:shadow-md transition-shadow cursor-pointer group" href="{{ item.data.url }}">
        <span class="text-2xl font-bold text-primary italic group-hover:brightness-90">
          <h3 class="inline underline underline-offset-1">{{ item.data.title }}</h3>
          <span class="font-lg text-secondary opacity-40">, {{ item.data.type }}</span>
        </span>
        <p>{{ item.data.description }}</p>

        <div class="flex flex-row justify-between">
          <span class="font-mono font-bold inline-flex p-1 rounded leading-4 text-tertiary" style="font-size: 0.8em" href="https://{{ item.data.url | getHostname }}">
            {{ item.data.url | getHostname }}
          </span>
          <span>
            {% for tag in item.data.keywords %}
              <span><span class="text-tertiary">{{ tag }}</span>
                {% if not loop.last %},{% endif %}
              </span>
            {% endfor %}
          </span>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="flex flex-row justify-end gap-10">
    {% if pagination.previousPageHref %}
      <a class="block text-center text-lg font-semibold bg-primary text-onPrimary rounded p-2 bg-opacity-80 hover:brightness-150" href="{{ pagination.previousPageHref }}">Previous Page</a>
    {% endif %}
    {% if pagination.nextPageHref %}
      <a class="block text-center text-lg font-bold bg-primary text-onPrimary rounded p-2 hover:brightness-150" href="{{ pagination.nextPageHref }}">Next Page</a>
    {% endif %}
  </div>
</main>
