---
title: Search
---

<script async defer src="/es/search.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/search.css">

<main class="flex flex-col justify-between items-center gap-20 px-10 mx-auto md:w-1/2">
  <h1 class="text-4xl md:text-7xl lg:text-6xl font-black leading-none">Search in my blog.</h1>
  <div class="w-full [&_input]:ring-primary [&_input]:ring-2 [&_input]:rounded-lg [&_input]:focus-visible:outline-none" id="search"></div>
</main>
